*{
	font-family: 微软雅黑;
	font-size: 12px;
	margin:0;
	padding:0;
	text-decoration:none;
	-moz-user-select: none; /*mozilar*/
	-webkit-user-select: none; /*webkit*/
	-ms-user-select: none; /*IE*/
	user-select: none;
}
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

ol,ul{
	list-style-type: none;
}
.ct
{
	width: 1200px;
	margin: 0 auto;
}
.clear{
	clear:both;
}
body{
	min-width: 1200px;
}

/*最上面开始*/
.header-wrap{
	width: 100%;
	background: #f2f2f2;
}
#header{
	width: 1200px;
	height: 28px;
	background: #f2f2f2;
	margin: 0 auto;
	color: #999
}
#header a:hover{
	color: #cc0001;
	text-decoration:underline;
}
#header a{
	color: #999
}
#header li{
	line-height: 28px;
	margin-left: 10px;

}
body{
	
	background:#f9f9f9;
}
ul{
	list-style:none;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.sjgjx{
	background: #cc0001;
	border-radius: 5px;

}
.sjgjx:hover .header-hover-hide{
	color: #cc0001;
	display: block;
}
#header .sjgjx>a{
	color: white;
}
.header-hover
{
	position: relative;
	width:70px;
	text-align: center;
}
.header-hover-hide{
	
	height: 90px;
	background: white;
	width: 70px;
	position: absolute;
	top: 28px;
	z-index: 10;
	border-radius:0 0 5px 5px/0 0 5px 5px;
	display: none;
}
.header-hover-hide-sp{
	width: 170px;
	
	height: 300px;
}
#header .list-unstyled>li span,#header .list-unstyled>li b{
	color: #cc0001;

}
#header .list-unstyled>li:nth-of-type(2)>a{
	color: #cc0001;
}
#header .list-unstyled>li:nth-of-type(4)>a{
	color: #cc0001;
}
/*最上面结束*/





/*搜索框开始*/
.search{
	height: 125px;
	background: white;
}
.logo{
	margin-top: 30px;
}
.search-input{
	height: 65px;
	width: 540px;
	overflow:hidden;
	margin-top: 30px;
	margin-left: 25px;
}
.search-input>.input{
	overflow:hidden;
	position: relative;
}
.search-input input{
	
	height: 32px;
	width: 460px;
	border:3px solid #c00;
	outline:none;
}
.search-input button{
	height: 38px;
	width: 67px;
	border:3.9px solid #c00;
	border-top: 2px solid #c00;
	/*margin-left: -4px;*/
	background: #c00;
	font-size: 16px;
	color: white;
	outline:none;
	position: absolute;
	right: 8px;
	/*margin-top:5px;*/
}
.search-input li{
	float: left;
	height:25px;
	line-height: 25px;
	
}
.search-input li a{
	color: white;
	color: #999
}
.search-input li a:hover{
	text-decoration:underline;
	color: #c00;
}
.search-input li~li:before{
	content: "丨";
	padding: 1px;
	color: #999;
}
.search .pic{
	margin-top: 30px;
}

.search-wrap{
width: 100%;
background: white
}
.search-input>.input-2>ul>li:nth-of-type(1)>a{
	color: #c00;
}
.search-input>.input-2>ul>li:nth-of-type(2)>a{
	color: #c00;
}
.search-input>.input-2>ul>li:nth-of-type(9)>a{
	color: #c00;
}

/*搜索框结束*/





/*导航开始*/
.navs{
	height: 35px;
	background: #900;
	
	position: relative;
}

.navs>p:first-child{
	height: 35px;
	margin:0;
	width: 170px;
	color: white;
	line-height: 36px;
	position: relative;
}
.navs>ul{
	margin:0;
}
.navs>ul>li
{
	float: left;
	padding: 7px 23px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}
.navs>ul>li~li:before{
	content: "|";
	position: absolute;
	left: -2px;
	color: rgba(0,0,0,0.2);
}
.navs>ul>li>a
{	
	color: white;
}
.navs>ul>li:hover
{
	background: #ce171f;
}
.navs img{
	float: right;
}
.nav-wrap{
	width: 100%;
	background: #900;
}
.nav-wrap>.navs>p{
	float: left; 
	text-align: center;
	background: rgb(206, 23, 31);
	position: relative;
}
.nav-list{
	height: 470px;
	width: 170px;
	background: white;
	position: absolute;
	top: 33px;
	left: 0px;
	z-index: 10;
	display: none;
}
.nav-list>ul>li{
	height: 78px;
	width: 170px;
	padding: 5px 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.nav-list>ul>li>p{
	line-height: 22px;
}
.nav-list-a
{
	background:#f90;
	border-radius: 5px;
}
.nav-second-menu{
	position: absolute;
	left: 170px;
	top: 0px;
	width: 560px;
	height: 470px;
	background: red;
}
.nav-second-menu-left{
	width: 100px;
	height: 470px;
	background: #ccc;
	float: left;
}
.nav-second-menu-left-ul-1st>li{
	line-height: 50px;
	text-align: right;
	padding: 5px 10px;
}
.nav-second-menu-center{
	height: 470px;
	width: 300px;
	float: left;
	background: white;
	padding: 10px;
	box-sizing: border-box;
}
.nav-second-menu-center>ul>li>a~a:before{
	content:'|';
	padding: 3px;
}
.nav-second-menu-center>ul>li{
	border-bottom: 1px dashed #ccc;
	padding: 10px;
	margin-top: 10px;
}
.nav-second-menu-right{
	width: 160px;
	height: 470px;
	background: blue;
	float: left;
}
.nav-second-menu-right>img{
	width: 100%;
	height: 100%;
}
.nav-second-menu{
	display: none;
}
/*导航结束*/

/* 中间开始 */
.center
{
	height: 3000px;
	background: white;
	margin-top: 15px;
	overflow:hidden
}
.center-top{
	width: 840px;
	height: 40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 0px 10px;
	background: white;
	float: left;
	box-sizing: border-box;
}
.center-top>p{
	line-height: 40px;
}
.center-top>p>span{
	color: red;
}
.center-top>p>a{
	color: black;
}
.center-right{
	height: 683px;
	width: 300px;
	background: white;
	float: right;
}
.center-right-top{
	width: 100%;
	height: 120px;
	background: white;
	margin-bottom: 15px;
	overflow:hidden;
	border: 1px solid #ccc;
}
.center-right-top>img{
	float: left;
}
.center-right-top span{
	color: red;
	font-size: 30px;
}
.center-right-top>p{
	margin-top: 10px;
}
.center-right-bottom{
	width: 100%;
	height: 544px;
	border: 1px solid #ccc;
	overflow:hidden;
	position: relative;
}
.center-right-bottom>h2{
	background: gray;
	line-height: 30px;
	color: black;
	text-align: center;
	position: relative;
}
#pubu{
	position: absolute;

}
#pubu>li{
	width: 300px;
	height: 120px;
	background: white;
	box-sizing: border-box;
	padding: 25px 15px;
	border-bottom: 1px dashed #ccc;

}
#pubu>li>img{
	float: left;
}
#pubu>li>.pubu-right{
	float: left;
}
.pre-page,.next-page{
	width: 30px;
	height: 30px;
	background: yellow;
	float: left;
	position: absolute;
	 border-radius: 50%;
	 text-align: center;
	 line-height: 30px;
	 font-size: 20px;
	 cursor:pointer;
	 bottom: 0px;
}
.pubu-wrap{
	width: 100%;
	height: 480px;
	position: relative;
	overflow:hidden;
}
.pre-page{
	left: 35%;


}
.next-page{
	right: 35%;
}



/*center-center*/
.center-center
{
	height: 3000px;
	width: 840px;
	border: 1px solid #ccc;
	background: white;
	box-sizing: border-box;
	margin-top: 55px;
}
.center-center-top{
	width: 100%;
	height: 550px;
	border: 1px solid #ccc;
	background: white;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}
.center-center-top>p{
	font-size: 28px;
	line-height: 30px;
}
.center-center-top>p>span{
	font-size: 28px;
	color: red;
}
.center-center-top-a{
	margin-top: 15px;
	display: block;
	width: 321px;
	height: 70px;
	background: url(../img/cijiyemian/xuebitu.png) -390px 0px;
	font-size: 30px;
	color: white;
	line-height: 70px;
	text-align: left;
	margin-left: -23px;
	text-indent: 1em;
}
.center-center-top-time{
	width: 320px;
	height: 300px;
	background: #ccc;
	margin-left: -20px;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 20px;
}
.center-center-top-time>ul>li{
	width: 300px;
	height: 90px;
	padding: 30px 20px; 
	box-sizing: border-box;
/*	background: red;*/
	border-bottom:1px dashed #000;

}
.center-center-top-time>ul>li input{
	width: 30px;
	height: 20px;
}
.center-center-top-time>ul>li button{
	width: 20px;
	height: 20px;
	background: #ddd;
}
.center-center-top-time>ul>li:last-child{
	border-bottom:none;
}
.center-center-top-time>ul>li:last-child>p>span{
	color: red;
	font-size: 20px;
}
.center-center-top-time>ul>li{
	font-size: 16px;
}
.center-center-top-time>.jishiqi>span{
	color: red;
	font-size: 18px;
}
.center-center-top>img{
	position: absolute;
	right: 0px;
	top: 100px;
}
.center-center-img{
	width: 100%;
	box-sizing: border-box;
	height: 2500px;
	background:white;
	margin-top: 15px;
	padding-top: 15px;
}
.center-center-img>h2{
	background: url(../img/tuangou/2.jpg) repeat;
	width: 100%;
	text-indent: 1em;
	font-size: 18px;
}
.center-center-img>p{
	margin-top: 15px;
	text-align: center;
	color: red;
}
.center-center-img>img:nth-of-type(1){
	margin-top: 15px;
}

























































/* 中间结束 */

/*footer开始*/
#footer{
	width: 100%;
	height: 280px;
	background: rgba(0,0,0,0.8);
}
.footer-center
{
	
	
	height: 300px;
}
.footer-center-top{
	width: 100%;
	height: 100px;
	
	padding: 25px 0px;
	box-sizing: border-box;
}
.footer-center-top-phone{
	color: red;
	font-size: 30px;
	font-weight: 800;
	float: left;
	overflow:hidden;
}
.footer-center-top-phone-right{
	font-size: 16px;
	float: left;
	margin-top: 8px;
	margin-left: 15px;
	color: white;
}
.footer-center-top-input{
	float: right;
	color: white;
	font-size: 16px;
	margin-top: 8px;
}
.footer-center-top-input>input{
	background: rgba(0,0,0,0.8);
	outline: none;
	color: white
}
.footer-center-nav{
	height: 200px;
	width: 100%;
	margin-top: 25px;
}
.footer-center-nav{
	color: gray;
}
.footer-center-nav>ul
{
	float: left;
	width: 170px;
	height: 150px;
	
}
.footer-center-nav>ul>li{
	margin-bottom: 5px;
}
.footer-center-nav>ul>li:first-child{
	color: white;
	margin-bottom: 10px;
}
.footer-center-nav-photo{
	margin-top: 10px;
	float: right;
	margin-right: 15px;
}
.footer-last{
	height: 300px;
	
	margin-top: 15px;
}
.footer-last-left{
	width: 800px;
	height: 300px;

	float: left;
}
.footer-last-left>p{
	color: gray;
	line-height: 30px;
}
.footer-last-left>p>a{
	color: gray;
}
.footer-last-left>p>a:hover{
	color: red;
	text-decoration: underline;
}
.footer-last-top>ul>li{

	height: 30px;

	float: left;
}
.footer-last-top{
	margin-top: 8px;
}
.footer-last-top>ul>li~li:before{
	content:'|';
	padding: 5px;
	color: gray;
}
.footer-last-top>ul>li>a{
	color: gray;
}
.footer-last-top>ul>li>a:hover{
	color: red;
	text-decoration: underline;
}
.footer-last-left>.last-p{
	color: red;
}
.footer-last>img{
	margin-top: 15px;
}
/*footer结束*/



/*右边工具开始*/
#tool{
	width: 35px;
	height: 100%;
	background: white;
	position:fixed;
	right: 0px;
	top: 0px;

}
#tool>ul{
	position: absolute;
	top:50%;
	left: 0px;
	margin-top: -150px;
	width: 35px;
}
#tool>ul>li{
	width: 30px;
	height: 60px;
	text-align: center;
	color: black;
	position:relative;
}
#tool>ul>li:last-child{
	margin-top: 10px;
	height: 80px;
}

.tool-hide{
	position: absolute;
	left: -200px;
	top: 0px;
	width: 200px;
	height: 200px;
	background: cyan;
	display: none;
}
.tool-hide-3{
	width: 0;
	height: 0;
}
.tool-footer{
	position:absolute;
	bottom: 0px;
	margin-bottom: 10px;
}
.tool-footer>.username{
	width: 35px;
	height: 50px;
	border-radius: 5px;
	position: relative;
}
.username-hide{
	width: 200px;
	height: 100px;
	background: cyan;
	position: absolute;
	left: -200px;
	top: 0px;
	display: none;
}
.username-hide-3{
	width: 0;
	height: 0;
}
.toTop{
	cursor:pointer;
}

/*右边工具结束*/




/*右边滚动开始*/
#left{
	width: 50px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50px;
	margin-top: -100px;
	display: none;
}
#left>ul>li{
	width: 40px;
	height: 40px;
	background: #ccc;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}
/*右边滚动结束*/